img {
    width: 100%;
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .header-info ul li {
        margin-right: 6px;
    }

    .main-menu ul li {
        margin-left: 15px;
    }

    .back-text {
        font-size: 230px;
    }

    .s-back-title {
        font-size: 95px;
    }

    .section-title h2 {
        font-size: 40px;
    }

    .event-image img {
        width: 100%;
    }

    .event-content {
        width: 100%;
    }

    .up-event-btn {
        margin-top: 20px;
    }

    .single-fact h1 {
        font-size: 50px;
    }

    .news-content {
        margin-bottom: 30px;
    }

    .footer-widget.mb-50.pl-35 {
        padding-left: 0;
    }
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .up-event-btn {
        margin-top: 20px;
    }

    .footer-widget.mb-50.pl-35 {
        padding-left: 0;
    }

    .header-info ul li.header-info-last {
        display: none;
    }

    .header-btn.f-right.ml-40 {
        margin-top: 15px;
        margin-left: 150px;
    }

    .logo {
        margin-top: 5px;
    }

    .hero-wrapper h2 {
        font-size: 60px;
        margin-top: 60px;
    }

    .back-text {
        font-size: 180px;
        margin-top: 30px;
    }

    .hero-wrapper a {

        margin-bottom: 0;

    }

    .hero-wrapper.text-center {
        margin-top: 120px;
    }

    .hero-area {
        background-image: url(/images/bg/hero-bg.png);
        background-position: center center;
        min-height: 700px;
        width: 100%;
    }

    .event-image img {
        width: 100%;
    }

    .md-up-event {
        display: none;
    }

    .single-fact {
        padding: 70px;
    }

    .single-fact h1 {
        font-size: 40px;
    }

    .single-fact img {
        max-width: 100%;
    }

    .test-author.ml-40 {
        margin-bottom: 60px;
    }

    .input-select::after {
        right: 12px;
    }

    .footer-widget.mb-50.pl-25 {
        padding-left: 0;
    }


}


/* small mobile :320px. */
@media (max-width: 767px) {
    .up-event-btn {
        margin-top: 20px;
    }

    .footer-widget.mb-50.pl-35 {
        padding: 0;
    }

    .menu-box {
        padding-top: 18px;
    }

    .mean-container a.meanmenu-reveal {
        margin-top: -45px;

    }

    .back-text {
        font-size: 100px;
    }

    .hero-wrapper {
        margin-top: 170px;
    }

    .hero-wrapper h2 {
        font-size: 38px;
    }

    .hero-wrapper h2 br {
        display: none;
    }

    .hero-area {
        min-height: 650px;
    }

    .back-text {
        font-size: 90px;
    }

    .s-back-title {
        font-size: 50px;
        margin-top: 30px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .testimonial-content {
        padding: 14px;
    }

    .up-date.f-left {
        width: 100%;
    }

    .up-event-content.fix {
        padding-top: 30px;
        width: 100%;
    }

    .fact-row .col-lg-3:not(:last-child) .single-fact {
        border-right: 0;
    }

    .footer-widget.mb-50 {
        padding-left: 0;
    }

    .news-content {
        margin-bottom: 40px;
        width: 100%;
    }

    .single-fact {
        padding: 40px;
    }

    .copyright-text.text-center.text-md-left {
        padding-bottom: 15px;
    }


}

/* Large Mobile :480px. */
@media only screen and (min-width: 550px) and (max-width: 767px) {
    .up-event-btn {
        margin-top: 20px;
    }

    .footer-widget.mb-50.pl-35 {
        padding: 0;
    }

    .fact-row .col-lg-3:not(:last-child) .single-fact {
        border-right: none;
        border-bottom: 2px solid #232239;
        height: 100%;
    }

    .news-content {
        margin-bottom: 40px;
    }

    .single-fact {
        padding: 40px;
    }

    .event-card-white {
        height: 580px;
    }

    .back-text {
        font-size: 120px;
    }

    .s-back-title {
        font-size: 50px;
    }

}